.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #2D5F5D; */
  /* background: #16FFBD; */
  background: #e7717d;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  /* color: white; */
  color: #16ffbd!important;

}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.livechat {
  margin-right: 5%;
}
